* {
    margin: 0;
    padding: 0;
}
img {
    margin-left: 30px;
    margin-top: 10px;
}
.badgr {
    background-color: #050a24;
}

.body {
    font-family: sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #050a24;
}

.login-form {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.login-subtitle {
    font-size: 16px;
    color: #888;
    margin-bottom: 30px;
}

.input-field {
    margin-bottom: 15px;
}

.input-field label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #333;
}

.input-field input {
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
    font-size: 15px;
}

.forgot-password {
    font-size: 12px;
    color: #aaa;
    float: right;
    margin-top: 5px;
}

.login-form button {
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    background-color: #4caf50;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

.signup-text {
    margin-top: 20px;
    font-size: 14px;
}

.signup-text a {
    color: #4caf50;
    text-decoration: none;
}
